html {
    height: 100%;
}

body {
    height: 100%;
    background: #34281e;
    font-family: 'Fondamento', cursive;
    color: #867567;
}

h1,
blockquote {
    text-align: center;
}

a {
    color: #867567;
}

a:hover {
    color: #867567;
}

.menu a {
    display: block;
    text-align: center;
}

main .container {
    background: #25221f;
}