body {
    background: #34281e;
    font-family: 'Fondamento', cursive;
}

h1 {
    text-align: center;
    color: #867567;
}

a {
    color: #867567;
}

a:hover {
    color: #867567;
}

.menu a {
    display: block;
    text-align: center;
}