html {
    height: 100%;
}

body {
    height: 100%;
    background: #000;
    font-family: 'Fondamento', cursive;
    color: #867567;
}

a {
    color: #867567;
}

a:hover {
    color: #54483E;
    text-decoration: none;
}

.menu a {
    display: block;
    text-align: center;
    height: 50px;
    padding-top: 12px;
}

main {
    min-height: calc(100% - 360px);
    padding: 40px;
    background: #867567;
}

main .container {
    background: rgba(37, 34, 31, .75);
    max-height: 800px;
    padding: 40px;
}

footer {
    background: url("../assets/footer.png");
    height: 150px;
    background-size: cover;
}

footer blockquote {
    text-align: center;
    padding-top: 35px;
}

header {
    background: url("../assets/header.png");
    height: 160px;
    background-size: cover;
}

header h1 {
    text-align: center;
    padding-top: 60px;
}

.profile {
    margin: auto;
    display: block;
}

.page-home main {
    background: url("../assets/home.png");
    background-size: cover;
}

.page-home main .container {
    overflow-y: scroll;
}

.page-contact main {
    background: url("../assets/contact.png");
    background-size: cover;
    overflow: auto;
}

.page-home main .container,
.page-contact main .container {
    max-height: 480px;
    overflow: auto;
}

.text {
    margin-left: 145px;
}

.loading {
    position: fixed;
    z-index: 2000;
    height: 120px;
    width: 120px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 34, 31);
}

.spinner {
    border: 16px solid #867567;
    border-top: 16px solid rgb(37, 34, 31);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.vertical-align {
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
}

.text-center {
    text-align: center;
}